@font-face {
font-family: "Crimson Text"; 
src: url("fonts/Crimson Text.ttf") format("truetype"); 
} 
@font-face {
font-family: "Lemon"; 
src: url("fonts/Lemon.ttf") format("truetype"); 
} 
@font-face {
font-family: "Vremena Medium Italic"; 
src: url("fonts/Vremena Medium Italic.ttf") format("truetype"); 
} 
body{
    background: url("bg20%20(1).jpg") repeat 0% 0px ;
    background-size: 100%
}
.center{
    background: rgba(87, 43, 8, 0.7); 
    color: #fff; 
    padding: 5px; 
}
.main-nav li {
   font-family: "Lemon";
   font-size: 18px;
   text-align: center; 
   background: rgb(87, 43, 8); 
   border-radius: 5px;
   transform: skew(-10deg);
}
.main-nav li:hover{
   font-family: "Lemon";
   font-size: 18px;
   text-align: center; 
   background: rgb(191, 135, 67);   
}
a{
  text-decoration: none;
  color: #fff;  
}
.features .information{
    margin: 20px 40px; 
    text-align: center;
}
h4{   
    font-family: "Vremena Medium Italic";
    font-size: 24px;
    text-align: center;   
}
.features p{
    font-family: "Crimson Text";
    font-size: 18px;
    text-align: justify;
}
iframe{
   
    max-height:120px;
}
.footer-adress, .footer-social, .footer-autor{
    margin-top: 15px;
    font-family:serif;
    font-size: 16px;
    text-align: center;
} 